<h1>Entrar</h1>
<form id="LoginForm" action="/login" method="post" class="d-flex justify-content-around flex-column">
    <input name="username" type="text" class="form-control" placeholder="Usuário" required autofocus> <br>
    <input name="password" type="password" class="form-control" placeholder="Senha" required> <br>
    <input type="submit" value="Log in" class="btn btn-success btn-block btn-lg">
</form>